@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-border: #334155;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}